body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Your code here */
header {
    background-color: goldenrod;
    padding: 60px;

}
main > section {
    border: 1px black solid;
    margin: 20px;
    display:inline-block ;
    
}
main p {
    margin: 20px;
}