@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap);

/*  stlying the link hover to make it "glow" green + make the bullet next to each link glow  */
a:link {
    color: rgb(255, 255, 255); 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    transition: all 2s ease-out;
}

a:hover  {
    color: rgb(69, 235, 138);
    
    text-decoration: none;

  
    transition: all 1s ease-out;
}
ul li:hover {
    color: rgb(69, 235, 138);
    
    text-decoration: none;
    
  
    transition: all 1s ease-out; 
}

/* Styling the header + body to give it transparent black boxes 
    & a background image that stays fixed when scrolling*/

header{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: azure;
    padding: 60px;
    text-align: center;
    
}
body{
    font-family: 'Roboto Condensed', sans-serif;
   background-image: url(./picsforcsci185/darkbeach.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   
 
}
.coursework{
    display: flex;
    flex-flow: wrap;
}
.project, .quizzes, .tutorials, .lectures, .homework, .inspiration{
   
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
        color: azure;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3.14%;
    flex-direction: column;
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 30px;
    margin: 75px;
    
}
/*Media query to change style of page when viewed in smaller screen */
@media (max-width: 800px ) {
    .item{
        background-color: rgba(0, 0, 0, 0.7);  
        border: 3px solid rgb(255, 255, 255);
        border-radius: 3.14%;
        padding:8px;
    }
    .coursework{
        display: grid;
        grid-template-columns: 1fr, 2fr;
        grid-template-rows: repeat(6, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
        .homework{
            grid-column: 1 /3;
            grid-row: 1;
        }
        .inspiration{
            grid-column: 1 /3;
            grid-row: 2;
        }
        .lectures{
            grid-column: 1 /3;
            grid-row: 3;
        }
        .quizzes{
            grid-column: 1 /3;
            grid-row: 4;
        }
        .tutorials{
            grid-column: 1 /3;
            grid-row: 5;
        }
        .project {
            grid-column: 1 /3;
            grid-row: 6;
        }
}