html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */
section{
    padding: 25%;
    height: 100%;
}
#home, #bio, #portfolio, #contact{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#home{
background-color: blue;
color: azure;
}
#bio{
background-color: aqua;
color: azure;
}
#portfolio{
background-color: rgb(111, 175, 154);
}
#contact{
background-color: rgb(108, 108, 131);
color: azure;
}