body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#mountains {
    position: absolute;
    width: 100vw;
    bottom: 0vh;
    left: 0;
    z-index: 100;
}

#sun {
    position: absolute;
    color: #FF3300;
    bottom: -10vh;
    left: calc(50vw - 50px); 
    font-size: 200px;

     animation-timing-function: linear;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: sunrise;
    animation-delay: 1s;
    animation-duration: 12s; 
}

 @keyframes sunrise {
    0% { 
        transform: translate(0, 0);
        color: #FF3300;
        font-size: 200px;
    }
   
    
    100% { 
        transform: translate(0, -70vh); 
        color: rgb(227, 153, 32);
        font-size: 100px;
    }
} 

#cloud1 {
    position: absolute;
    color: #EEE;
    top: 0px;
    left: 0px;
    font-size: 60px;
    
    /* Start by positioning the cloud to the left by 30vw */
    transform: translate(-30vw, 0); 


     animation-timing-function: linear;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-name: moveCloudHorizontally;
    animation-delay: 1s;
    animation-duration: 18s; 
}

#cloud2 {
    position: absolute;
    color: rgba(184, 178, 178, 0.7);
    top: 10px;
    left: 5px;
    font-size: 80px;
    
    /* Start by positioning the cloud to the left by 30vw */
    transform: translate(-30vw, 0); 


     animation-timing-function: ease-out;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-name: moveCloudHorizontally;
    animation-delay: 3s;
    animation-duration: 20s; 
}
#cloud3 {
    
    position: absolute;
    color: rgba(238, 238, 238, 0.7);
    top: 80px;
    left: 0px;
    font-size: 150px;
    
    /* Start by positioning the cloud to the left by 30vw */
    transform: translate(-30vw, 0); 


     animation-timing-function: ease-in;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-name: moveCloudHorizontally;
    animation-delay: 4s;
    animation-duration: 14s; 
}
#cloud4 {
    position: absolute;
    color: rgba(193, 188, 188, .5);
   
    top: 100px;
    left: 0px;
    font-size: 120px;
    
    /* Start by positioning the cloud to the left by 30vw */
    transform: translate(-30vw, 0); 


     animation-timing-function: linear;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-name: moveCloudHorizontally;
    animation-delay: 6s;
    animation-duration: 20s; 
}
@keyframes moveCloudHorizontally {
    0% { 
        transform: translate(-30vw, 0);
    }
    100% { 
        transform: translate(110vw, 0); 
        
    }
   
} 


