@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Your CSS Code Here! */
/*-----------part 1 nav--------*/
nav ul{
    list-style: none;
    display: flex;
    justify-content:end ;
    
   
}
nav a{
  color: black;  
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}
/*---------part2 header---------*/
header{
   background-color: rgb(117, 224, 194); 
   font-family: 'Nova Slim';
   padding-top: 1%;
   

}
header div{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  
  
}
header img{
    height: 15%;
    width: 15%;
    border-radius: 50%;
}
header h1{
    color: black;
}
/*----------part 3 about me--------*/
#about h2{
    font-family: 'Nova Slim';
    text-align: left;
    margin: 40px;
    padding-left: 16.5%;
}
#about p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
        padding-left: 16.5%;
        padding-right: 16.5%;
    
}
#ap1{
    padding-bottom: 50px;
}
/*---------par4 projects---------*/
#projects h2{
    font-family: 'Nova Slim';
    margin-left: 20%;
   
}

.project-holder{
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
            font-family: Arial, Helvetica, sans-serif;
}
#projects{
    background-color: rgb(229, 229, 229);
}
.card1{
    grid-template-columns: 1/2;
    grid-template-rows: 1;
    padding-bottom: 50px;
}
.card2{
    grid-template-columns: 2/3;
    grid-template-rows: 1;
    padding-bottom: 50px;
}
.card3{
    grid-template-columns: 1/2;
    grid-template-rows: 2;
}
.card4{
    grid-template-columns: 2/3;
    grid-template-rows: 2;
}
/*------part 5--------*/

#contact h2 {
font-family: 'Nova Slim';
    text-align: left;
    padding-left: 16.5%;
    margin-top: 80px;
}
#contact p{
font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
    margin-left: 6.5%;
}
.contact-details{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-left: 16.5%;
   padding-right: 16.5%;
   column-gap: 10px;
   
}
#form{
    grid-template-columns: 1 /2;
    padding-top: 8%;
    font-family: Arial, Helvetica, sans-serif;

}
#contact-info{
    grid-template-columns: 2 /3;
    margin-left: 100px;
    text-align: left;
    margin-top: 35px;
}
.row1{
    margin:10px;
}
input{
    background-color: rgb(235, 231, 231);
    border: none;
    height: 30px;
    width: 47%;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
}
textarea{
width: 95%;
height: 100%;
background-color: rgb(235, 231, 231);
border:none;
font-family: Arial, Helvetica, sans-serif;
text-indent: 10px;

}
#submit{
    background-color: rgb(117, 224, 194); 
    height: 40px;
    width:115px;
    border-radius: 3.14%;
    color: black;
    text-indent: -2px;
    transition: all 1s ease-out;
}
#submit:hover{
    border: solid 2px rgb(143, 224, 201) ;
    height: 48px;
    width: 123px;
    transform: translate(-5px, -5px);
}
.row2{
    display: flex;
    align-items:baseline;
    font-family: Arial, Helvetica, sans-serif;
}
/*---------part 6 footer----------*/

footer{
    padding:70px;
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
   
}
/*--------part 7 responsive design--------*/

@media only screen and (max-width: 800px){
    nav ul{
        
        align-items: center;
       justify-content: flex-start;
        margin-bottom: 20%;
        margin-top: -20%;
       
    }
    header{
        padding: 20%;

    }
    header img{
        height: 50%;
        width: 50%;
        border-radius: 50%;
    }
    #projects h2{
       padding-top: 3%;
       
    }
    .project-holder{
        display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr ;
          
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 50px;
        padding-bottom: 10%;
         
    }
    .card1 img{
       width:100%;
    }
    .card2 img{
        width:100%;
    }
    .card3 img{
        width:100%;
    }
    .card4 img{
        width:100%;
    }
    .contact-details{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 16.5%;
        padding-right: 16.5%;
        column-gap: 10px;
        
     }
     #contact-info{
       padding-left: -50%;
       margin-left: -1px;
       padding-bottom: 20%;
}
}