body {
    font-family: Arial, Helvetica, sans-serif;
}
#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-heart {
  margin-top: 200px;
    animation-iteration-count: infinite;
    font-size: 4em;
    color: rgb(212, 32, 32);
    animation-duration: .8s;
    animation-name: heartbeat;
    transform: rotate(360deg);
    animation-play-state: paused;
    /* animation-play-state: paused; */

}

.fa-heart:hover {
    animation-play-state: running;
} 

@keyframes heartbeat {
    15% {
      transform: scale(6);
    }
    30% {
      transform: scale(2);
    }
    45% {
        transform: scale(6.5);
    }
    60% {
      transform: scale(2);
      transform: translate(40px, -40px);
      
    }
    
}
